<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" stopOnFailure="false">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./phpUnitTutorial/Test</directory>
            <file>./phpUnitTutorial/Calculator.php</file>
        </testsuite>
    </testsuites>
</phpunit>
